absl-py==0.7.0
apache-beam==2.11.0
astor==0.7.1
astroid==2.2.5
avro-python3==1.8.2
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
crcmod==1.7
decorator==4.3.2
dill==0.2.9
docopt==0.6.2
fastavro==0.21.19
fasteners==0.14.1
future==0.17.1
gast==0.2.2
gcsfs==0.2.1
google-api-core==1.8.0
google-apitools==0.5.26
google-auth==1.6.3
google-auth-oauthlib==0.2.0
google-cloud-bigquery==1.6.1
google-cloud-bigtable==0.31.1
google-cloud-core==0.28.1
google-cloud-pubsub==0.39.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.8
grpc-google-iam-v1==0.11.4
grpcio==1.19.0
h5py==2.9.0
hdfs==2.2.2
httplib2==0.11.3
idna==2.8
isort==4.3.14
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
lazy-object-proxy==1.3.1
Markdown==3.0.1
mccabe==0.6.1
mock==2.0.0
monotonic==1.5
numpy==1.16.2
oauth2client==3.0.0
oauthlib==3.0.1
pandas==0.24.1
pbr==5.1.3
proto-google-cloud-datastore-v1==0.90.4
protobuf==3.7.0
pyarrow==0.11.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pydot==1.2.4
pylint==2.3.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
pyyaml==5.1
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-metadata==0.13.0
tensorflow-transform==0.13.0
termcolor==1.1.0
typed-ast==1.3.1
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.11.1
